
body {
    background-color: #494E6B;
  

}

img {
    max-width: 100%;
    max-height: 100%;
  
}
.header {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 50px;
  align-items: center;
}

.me {
  
  width: 650px;
  height: 570px; 
  border-radius: 80%; 
  object-fit: cover;
  border:4px solid grey; 
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
section {
 background-color: #98878F; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 100%; 
  max-width: 900px; 
  height: 300px;
  padding: 20px; 
  margin: 0 auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.nvbar {
    background-color: #98878F;
    display: flex;
    list-style-type: none;
    justify-content:flex-start ;
    margin-top:0;
    padding:0;
    align-items: center;
   

}
.nvbar li {
    float: right;
  }

  .nvbar li a {
    color:yellow;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 16px;
    display: block;
    text-align: center;
    
  }.content {
    margin-top: 0%;
    font-size: 30px;
    text-align: justify;
    color: black;
    font-family: sans-serif;
    flex-basis: 60%;
    top: 25rem;
  }
  .content h1 {
    font-size: 40px;
    text-align: center;
    color: black;
    font-family: sans-serif;
  }
  .content h1 span {
    color: yellow;
  }
  
  .row {
    display: flex;
    align-items:center;
    gap:20px;
    padding:20px;

  }
  .about-col-1 {
    flex-basis: 50%;
    margin-top: 10%;
  }
  .about-col-1 img {
    width: 950px;
    height: 920px;

  }
   
   .aboutcnt{
    flex:1;
   
  } 
  .hd1 {
    font-size: 30px;
    margin-bottom: 10px;
    color:yellow;
    
  } 
  .row1{
    line-height: 1.6;
  }
  
  .tab-titles{
    display:flex;
    margin:20px 0 ;
  }
  .tablink{
    
    margin:0px;
    margin-right:20px;
    cursor:pointer;
 
    font-size:24px;
    font-weight: 500;
    color:yellow;
  } 
  
  .tab-contents ul li{
    list-style:none;
    margin:5px 0;
  }
  .tab-contents ul li span{
    font-weight:400;
    color:blanchedalmond;
  }
  .tab-contents{
    display:none;
  }
  .tab-contents.active-tab{
    display:block;
    margin:0%;
  
  }
  .contact-left{
    flex-basis:25%;
  }
  .contact-bottom{
    flex-basis:50%;
  }
  .contact-left p{
    margin-top: 30px;
  }

  footer {
    display: flex;
    gap: 4rem;
  

  }
  .icons{
    height:2rem;
    width:2rem;
  
  }
  .download-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: burlywood;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.download-btn:hover {
  background-color: plum;
}
@media (max-width: 768px) {
  .row {
    flex-direction: column; 
    text-align: center; 
  }

  .about-col-1 img .me {
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto; 
  }
}
